.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.money-display {
    margin-left: 10px;
}

.money-number {
    font-weight: bold;
    font-size: medium;
}

.pdf-table table {
    border-collapse: collapse;
    border: 2px solid darkgreen;
}

Document {
    padding: 0 20px 0 20px;
}

.table-header {
    color: darkgreen;
    font-weight: bold;
}

.table-content {
    color: black;
}

.pdf-table td {
    width: 25mm;
    writing-mode: vertical-lr;
    border: 1px solid darkgreen;
    padding: 3px 5px 3px 5px;
}

.pdf-table .id,.pdf-table .amount,.pdf-table .repayAmount {
    transform: rotate(-90deg);
}