.money-display {
    margin-left: 10px;
}

.money-number {
    font-weight: bold;
    font-size: medium;
}

.pdf-table table {
    border-collapse: collapse;
    border: 2px solid darkgreen;
}

Document {
    padding: 0 20px 0 20px;
}

.table-header td{
    writing-mode: horizontal-tb;
    color: darkgreen;
    font-weight: bold;
    font-size: medium;
    height:10mm;
    word-wrap: break-word;
    word-break: break-word;
    text-align: center;
}

.table-content td{
    text-align: center;
    color: black;
    font-size: x-small;
    word-wrap: break-word;
    word-break: break-all;
}

.pdf-table td {
    width: 29mm;
    border: 2px solid darkgreen;
    /*padding: 3px 5px 3px 5px;*/
}

.pdf-table .id,.pdf-table .amount,.pdf-table .repayAmount {
    writing-mode: horizontal-tb;
    text-align: center;
}

.pdf-table .remark {
    font-size: xx-small;
}
